
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

.timeline {
    width: 100%;
    height: 30px;
    background: #f0f0f0;
    position: relative;
    cursor: pointer;
}

.timeline-marker {
    position: absolute;
    width: 2px;
    height: 30px;
    background: red;
    top: 0;
}

.left-align {
    transform: translateX(-10%); /* Mueve el contenido 20% hacia la izquierda */
  }

  .center-align {
    transform: translateX(0); /* Mantiene el contenido centrado */
  }

  .right-align {
    transform: translateX(10%); /* Mueve el contenido 20% hacia la derecha */
  }

.container {
    height: calc(100vh - 90px);
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    scroll-behavior: smooth;
    background-color: rgb(54, 53, 53);
}

.content-box {
    margin: 10px;
    padding: 20px;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
}

.timer {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2em;
    font-family: monospace;
    z-index: 1000;
}

video, img {
    width: auto;
    height: 60vh;
    opacity: 0.3;  
    transition: opacity 0.3s ease; 
}

img:hover, video:hover {
    opacity: 1;  
  }